<p class="help"></p>

<p>
  <label for="site_name"><%= 'Name'[:site_name_label] %></label><br />
  <%= form.text_field :name %>
</p>

<p>
  <label for="site_key"><%= 'Key'[:site_key_label] %></label><br />
  <%= form.text_field :key %>
</p>
