<h1><%= 'New Site'[] %></h1>

<%= error_messages_for :site %>

<% form_for :site, :url => sites_path do |f| -%>
  <%= render :partial => "form", :object => f %>
  <p><%= submit_tag 'Create site'[] %></p>
<% end -%>